# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
TODO.md
logs.txt
.idea/
secret.md
/temp
temp/

config/yaml/v1/local.application.yaml
config/yaml/v1/docker.local.application.yaml
config/yaml/v1/docker.develop.application.yaml
config/yaml/v1/docker.release.application.yaml
config/yaml/v1/docker.production.application.yaml

infrastructure/script/data/repository/mongo/.env
