<table role="presentation" class="main" style="width: 100%; max-width: 600px; margin: auto; border-collapse: collapse;">
  <!-- START MAIN CONTENT AREA -->
  <tr>
    <td class="wrapper" style="padding: 20px; background-color: #f4f4f4;">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <tr>
          <td style="padding: 20px;">
            <p style="font-size: 16px; color: #333;">Hi {{ .FirstName }},</p>
            
            <p style="font-size: 16px; color: #555;">
              We received a request to reset your password. To proceed with resetting your password, please click the button below. This will take you to a secure page where you can set a new password.
            </p>
            
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="width: 100%; margin: 20px 0;">
              <tbody>
                <tr>
                  <td align="center" style="background-color: #007bff; border-radius: 5px; text-align: center; padding: 10px;">
                    <a href="{{.URL}}" target="_blank" style="color: #ffffff; text-decoration: none; font-size: 16px; font-weight: bold;">Reset Your Password</a>
                  </td>
                </tr>
              </tbody>
            </table>
            
            <p style="font-size: 16px; color: #555;">
              If you did not request this password reset, please ignore this email. No changes will be made to your account.
            </p>
            
            <p style="font-size: 16px; color: #555;">
              Should you encounter any issues or have questions, feel free to <a href="mailto:support@example.com" style="color: #007bff;">contact our support team</a>.
            </p>
            
            <p style="font-size: 16px; color: #333;">
              Thank you for your attention,<br>
              Constantine Yachnytskyi
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- END MAIN CONTENT AREA -->
</table>
